
.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.ephviz-label {
  font-size: 11px;
  font-family: sans-serif;
}


.ephviz-legendTitle {
  font-size: 11px;
  font-family: sans-serif;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

